<div class="dash-wrapper admin-content">
  <app-admin-sidebar></app-admin-sidebar>
  <app-admin-header></app-admin-header>
  <main class="content-wrapper-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="dark-bg-box">
            <h2>Add User</h2>
          </div>
          <div class="comn-white-box-inr">
            <div class="col-12">
              <div class="dark-bg-box-inr">
                <form [formGroup]="AddForm" (ngSubmit)="onSubmitForm()" class="row comn-form">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" class="form-control comn-style" placeholder="First Name" formControlName="first_name" [ngClass]="{ 'is-invalid': form_submitted && fval.first_name.errors }"/>
                      <div *ngIf="form_submitted && fval.first_name.errors" class="invalid-feedback">
                        <div *ngIf="fval.first_name.errors.required">
                          First Name is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" class="form-control comn-style" placeholder="Last Name" formControlName="last_name" [ngClass]="{ 'is-invalid': form_submitted && fval.last_name.errors }"/>
                      <div *ngIf="form_submitted && fval.last_name.errors" class="invalid-feedback">
                        <div *ngIf="fval.last_name.errors.required">
                          Last Name is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <input type="email" class="form-control comn-style" placeholder="Email Address" formControlName="email" [ngClass]="{ 'is-invalid': form_submitted && fval.email.errors }"/>
                      <div *ngIf="form_submitted && fval.email.errors" class="invalid-feedback">
                        <div *ngIf="fval.email.errors.required">
                          Email Address is required
                        </div>
                        <div *ngIf="fval.email.errors.email">Email Address must be a valid email</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <input type="text" class="form-control comn-style" placeholder="Mobile No." formControlName="phone" [ngClass]="{ 'is-invalid': form_submitted && fval.phone.errors }"/>
                      <div *ngIf="(fval.phone.invalid ) || (fval.phone.invalid && (fval.phone.dirty || fval.phone.touched))" class="invalid-feedback">
                        <div *ngIf="fval.phone.errors.required">
                          Mobile Number is required
                        </div>
                        <div *ngIf="fval.phone.errors.pattern">
                          Invalid Mobile Number
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-btns text-center">
                      <button type="submit" class="btn btn-submit">Submit</button>
                      <button (click)="cancel()" type="button" class="btn btn-cancel">Cancel</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="overlay toggle-icon-main"></div>
    </div>
  </main>
</div>
