<div class="container-fluid users-content">
  <app-user-header></app-user-header>
  <div class="row row-space-class row-space-class-inr">
    <div class="col-12 usrs-inr-pages-bg p-0" style="background: url(assets/images/hero-slide-img-1.png); background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="usrs-inr-pages-bg-text">
              <h2 class="text-center">FAQ</h2>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center">
                  <li class="breadcrumb-item"><a href="javascript:void(0)">home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">FAQ</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="usr-comn-title mt-5">
            <div class="d-flex align-items-center justify-content-center">
              <div class="usr-comn-title-shap pos-relt">
                <img src="assets/images/line-shap-2.svg" alt="" />
              </div>
              <h2>FAQs</h2>
              <div class="usr-comn-title-shap pos-relt-2">
                <img src="assets/images/line-shap-1.svg" alt="" />
              </div>
            </div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry'.</p>
          </div>
        </div>
        <div class="col-12">
          <div class="">
            <div id="faqs-accordion" class="mb-5">
              <div class="card">
                <div class="card-header collapsed" id="faqsheadingOne" data-toggle="collapse" data-target="#faqscollapseOne" aria-expanded="true" aria-controls="faqscollapseOne">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry ?
                  <i class="fa fa-angle-down" aria-hidden="true"></i>
                </div>
                <div id="faqscollapseOne" class="collapse show" aria-labelledby="faqsheadingOne" data-parent="#faqs-accordion" style="">
                  <div class="card-body">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header collapsed" id="faqsheadingtwo" data-toggle="collapse" data-target="#faqscollapsetwo" aria-expanded="false" aria-controls="faqscollapsetwo">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry ?
                  <i class="fa fa-angle-down" aria-hidden="true"></i>
                </div>
                <div id="faqscollapsetwo" class="collapse" aria-labelledby="faqsheadingtwo" data-parent="#faqs-accordion" style="">
                  <div class="card-body">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header collapsed" id="faqsheadingthree" data-toggle="collapse" data-target="#faqscollapsethree" aria-expanded="false" aria-controls="faqscollapsethree">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry ?
                  <i class="fa fa-angle-down" aria-hidden="true"></i>
                </div>
                <div id="faqscollapsethree" class="collapse" aria-labelledby="faqsheadingthree" data-parent="#faqs-accordion" style="">
                  <div class="card-body">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header collapsed" id="faqsheadingfour" data-toggle="collapse" data-target="#faqscollapsefour" aria-expanded="false" aria-controls="faqscollapsefour">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry ?
                  <i class="fa fa-angle-down" aria-hidden="true"></i>
                </div>
                <div id="faqscollapsefour" class="collapse" aria-labelledby="faqsheadingfour" data-parent="#faqs-accordion" style="">
                  <div class="card-body">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header collapsed" id="faqsheadingfive" data-toggle="collapse" data-target="#faqscollapsefive" aria-expanded="false" aria-controls="faqscollapsefive">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry ?
                  <i class="fa fa-angle-down" aria-hidden="true"></i>
                </div>
                <div id="faqscollapsefive" class="collapse" aria-labelledby="faqsheadingfive" data-parent="#faqs-accordion" style="">
                  <div class="card-body">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header collapsed" id="faqsheadingsix" data-toggle="collapse" data-target="#faqscollapsesix" aria-expanded="false" aria-controls="faqscollapsesix">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry ?
                  <i class="fa fa-angle-down" aria-hidden="true"></i>
                </div>
                <div id="faqscollapsesix" class="collapse" aria-labelledby="faqsheadingsix" data-parent="#faqs-accordion" style="">
                  <div class="card-body">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header collapsed" id="faqsheadingseven" data-toggle="collapse" data-target="#faqscollapseseven" aria-expanded="false" aria-controls="faqscollapseseven">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry ?
                  <i class="fa fa-angle-down" aria-hidden="true"></i>
                </div>
                <div id="faqscollapseseven" class="collapse" aria-labelledby="faqsheadingseven" data-parent="#faqs-accordion" style="">
                  <div class="card-body">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row ftr-shap-div align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="ftr-shap-class">
            <h2><span>Find perfect trainer according</span> your needand without westing your valuable time.</h2>
            <div class="text-center mt-4">
              <a href="">GET STARTED</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-user-footer></app-user-footer>
</div>
