<div class="dash-wrapper admin-content">
  <app-admin-sidebar></app-admin-sidebar>
  <app-admin-header></app-admin-header>
  <main class="content-wrapper-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="comn-title d-sm-flex align-items-center">
            <h2>User Lists</h2>
            <div class="comn-title-right">
              <a routerLink="/admin/users/add-user" class="btn btn-add">add User</a>
              <button type="button" (click)="export_csv()" class="btn ml-sm-2 table-inr-btn">Export</button>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="comn-white-box-table">
            <table id='add-users' datatable [dtOptions]="dtOptions" class="display table table-striped table-bordered" cellspacing="0" width="100%">
              <thead>
              <tr>
                <th class="no-search-filter">
                  <div class="tbl-icon-new">
                    <ul class="d-flex">
                      <li>
                        <a href="">
                          <i class="fa fa-close" aria-hidden="true"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email Address </th>
                <th>Mobile no.</th>
                <th class="no-search-filter">Status</th>
                <th class="no-search-filter">action</th>
              </tr>
              </thead>
              <thead>
              <th></th>
              <th><input type="text" (change)="filterById()" (keyup)="filterById()" [(ngModel)]="search_field.first_name" placeholder="Search" name="search-first_name"/></th>
              <th><input type="text" (change)="filterById()" (keyup)="filterById()" [(ngModel)]="search_field.last_name" placeholder="Search" name="search-last_name"/></th>
              <th><input type="text" (change)="filterById()" (keyup)="filterById()" [(ngModel)]="search_field.email" placeholder="Search" name="search-email"/></th>
              <th><input type="text" (change)="filterById()" (keyup)="filterById()" [(ngModel)]="search_field.mobile" placeholder="Search" name="search-phone"/></th>
              <th></th>
              <th></th>
              </thead>
              <tbody *ngIf="get_data_json?.length != 0">
              <tr *ngFor="let x of get_data_json;">
                <td>
                  <div class="cust-checkbox-new">
                    <label class="cust-chk-bx">
                      <input type="checkbox" />
                      <span class="cust-chkmark"></span>
                    </label>
                  </div>
                </td>
                <td><a [routerLink]="['/admin/users/view-user',x.id]">{{x.first_name}}</a></td>
                <td><a [routerLink]="['/admin/users/view-user',x.id]">{{x.last_name}}</a></td>
                <td><a [routerLink]="['/admin/users/view-user',x.id]">{{x.email}}</a></td>
                <td><a [routerLink]="['/admin/users/view-user',x.id]">{{x.phone}}</a></td>
                <td>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch_{{x.id}}" (click)="change_status(x.id)" [checked]="x.is_active == 1"/>
                    <label class="custom-control-label" for="customSwitch_{{x.id}}">Active</label>
                  </div>
                </td>
                <td>
                  <div class="tbl-icon">
                    <ul class="d-flex align-items-center">
                      <li>
                        <a [routerLink]="['/admin/users/edit-user',x.id]">
                          <img src="../assets/images/edit-icon.svg" alt="" />
                        </a>
                      </li>
                      <li>
                        <a (click)="delete_user(x)">
                          <img src="../assets/images/delete-icon.svg" alt="" />
                        </a>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
              </tbody>
              <tbody *ngIf="get_data_json?.length == 0">
              <tr>
                <td colspan="7" class="no-data-available">No data available!</td>
              </tr>
              <tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="plus-icon-fix">
        <a href="javascript:void(0)" id="pls-icon-click">
          <img src="../assets/images/plus-icon.svg" alt="" />
        </a>
        <div class="plus-icon-fix-inner">
          <div class="pls-ico">
            <ul class="pls-ico-inner d-flex flex-column">
              <li>
                <button (click)="export_csv()" type="button" class="btn">Export</button>
              </li>
              <li>
                <a routerLink="/admin/users/add-user" class="btn">Add User</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="overlay toggle-icon-main"></div>
    </div>
  </main>
</div>
