<div class="row ftr-row">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 m-auto">
        <div class="ftr-info-div">
          <img src="assets/images/logo-user.svg" alt="" />
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book.
          </p>
          <div class="ftr-links">
            <ul class="">
              <li routerLinkActive="active">
                <a routerLink="/home">Home</a>
              </li>
              <li routerLinkActive="active">
                <a routerLink="/about-us">About</a>
              </li>
              <li routerLinkActive="active">
                <a routerLink="/trainers">Trainers</a>
              </li>
              <li routerLinkActive="active">
                <a routerLink="/faq">FAQ</a>
              </li>
              <li routerLinkActive="active">
                <a routerLink="/contact-us">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 copy-right-div">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="text-center">
            <p>Copyright © 2019-2020 All Right Reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="back-to-top">
  <img src="assets/images/top-window.svg" alt="" />
</div>
