<div class="container-fluid cust-height log-pages-bg" style="background: url(../assets/images/log-bg-img-main.png); background-repeat: no-repeat; background-size: cover; background-position: center center;">
  <div class="row align-items-center cust-height">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12">
          <div class="log-box-main">
            <div class="log-box-main-logo">
              <img src="../assets/images/log-icon-logo.svg" alt="" />
            </div>
            <div class="log-box-main-inr">
              <div class="log-box-main-inr-shap">
                <span>
                    <img src="../assets/images/padlock-icon.svg" alt="" />
                </span>
              </div>
              <h2>Forgot Password</h2>
              <p>Send a link to your email to reset your password</p>
              <div *ngIf="show_forget_form">
                <form class="row" [formGroup]="ForgotForm" (ngSubmit)="onSubmitForgotForm()">
                  <div class="col-12">
                    <div class="form-group">
                      <div class="input-icon">
                        <img src="../assets/images/msg-icon.svg" alt="" />
                      </div>
                      <input type="email" class="form-control" placeholder="Email Address" [ngClass]="{ 'is-invalid': forgot_submitted && fval.email.errors }" formControlName="email" />
                      <div *ngIf="forgot_submitted && fval.email.errors" class="invalid-feedback">
                        <div *ngIf="fval.email.errors.required">
                          Email Address is required
                        </div>
                        <div *ngIf="fval.email.errors.email">Email Address must be a valid email address</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <div class="login-btn-btm my-3">
                        <button type="submit" class="btn">send</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div *ngIf="verify_form_open">
                <form class="row" [formGroup]="verifyForm" (ngSubmit)="onSubmitVerifyCheck()">
                  <div class="col-12">
                    <div class="form-group">
                      <div class="input-icon">
                        <img src="../assets/images/pass-icon.svg" alt="" />
                      </div>
                      <input type="text"  [ngClass]="{ 'is-invalid': verify_submitted && vval.verify_token.errors }" formControlName="verify_token"  placeholder="4 digit OTP" class="form-control" />
                      <div *ngIf="verify_submitted && vval.verify_token.errors" class="invalid-feedback">
                        <div *ngIf="vval.verify_token.errors.required">
                          OTP is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <div class="login-btn-btm my-3">
                        <button type="submit" class="btn">Verify OTP</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div *ngIf="password_form_show">
                <form class="row" [formGroup]="password_Form" (ngSubmit)="onSubmitPasswordForm()">
                  <div class="col-12">
                    <div class="form-group">
                      <div class="input-icon">
                        <img src="../assets/images/pass-icon.svg" alt="" />
                      </div>
                      <input type="password"  formControlName="password" [ngClass]="{ 'is-invalid': password_submitted && pval.password.errors }"   placeholder="*******" class="form-control" />
                      <div *ngIf="password_submitted && pval.password.errors" class="invalid-feedback">
                        <div *ngIf="pval.password.errors.required">
                          Password is Required
                        </div>
                        <div *ngIf="pval.password.errors.minlength">Password must be at least 6 characters</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <div class="input-icon">
                        <img src="../assets/images/pass-icon.svg" alt="" />
                      </div>
                      <input type="password"  formControlName="confirm_password" [ngClass]="{ 'is-invalid': password_submitted && pval.confirm_password.errors }" placeholder="*******" class="form-control" />
                      <div *ngIf="password_submitted && pval.confirm_password.errors" class="invalid-feedback">
                        <div *ngIf="pval.confirm_password.errors.required">
                          Confirm Password is Required
                        </div>
                        <div *ngIf="pval.confirm_password.errors.minlength">Password must be at least 6 characters</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <div class="login-btn-btm my-3">
                        <button type="submit" class="btn">Reset Password</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <div class="bck-log-link text-center mt-2">
                    <p>back to <a routerLink="/admin">login</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
