<div class="dash-wrapper admin-content">
  <app-admin-sidebar></app-admin-sidebar>
  <app-admin-header></app-admin-header>

  <main class="content-wrapper-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="comn-title">
            <h2>User Details</h2>
          </div>
        </div>
        <div class="col-12">
          <div class="comn-white-box">
            <div class="dtls-pge-main">
              <div class="dtls-pge-main-inr">
                <h4>First Name</h4>
                <p>{{first_name}}</p>
              </div>
              <div class="dtls-pge-main-inr">
                <h4>Last Name</h4>
                <p>{{last_name}}</p>
              </div>
              <div class="dtls-pge-main-inr">
                <h4>Email Address</h4>
                <p>{{email}}</p>
              </div>
              <div class="dtls-pge-main-inr">
                <h4>Mobile No.</h4>
                <p>{{phone}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="overlay toggle-icon-main"></div>
    </div>
  </main>
</div>
